
h1 {
    font-family: Impact, Arial, sans-serif;
    text-align: center;
}

hr {
  border-top: 1px solid black;
}

.ml4 {
  position: absolute;
  font-weight: 900;
  font-size: 1.2em;
  text-align: center;
}

.ml4 .letters {
  position: absolute;
  margin: auto;
  left: 0;
  top: 0.3em;
  right: 0;
  opacity: 0; 
}

/** Statement of Faith */
.sof {
  padding-top: 20px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.sof .counter-container {
  color: #767676;
}
.sof .counter-container ol {
  margin-bottom: 0;
  counter-reset: myCounter;
}
.sof .counter-container ol li {
  margin-bottom: 1.5rem;
}
.sof .counter-container ol li {
  list-style: none;
  padding-left: .7rem;
}
.sof .counter-container ol li:before {
  position: absolute;
  left: 0px;
  counter-increment: myCounter;
  content: counter(myCounter);
  display: inline-block;
  text-align: center;
  margin: -5px 20px;
  line-height: 35px;
  transition: all .2s;
  color: #ffffff;
  background: #808000;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  vertical-align: middle;
}

/** Sermons Live **/
.sermons_live {
  			margin-left: 0;
  			padding: 0;
  			background: #fff;
  			font-family: Arial, Helvetica, sans-serif;
            margin-bottom: 60px;
  		}

		.vid-container-live iframe,
		.vid-container-live object,
		.vid-container-live embed {
            margin-bottom: 10px;
		}

		/*  VIDEOS PLAYLIST 
 		############################### */
		.vid-list-container {       
			overflow: hidden;
            padding: 5px;
            top: 0;
            min-width: 250px;
            display: flex;
		} 


    .vid-list-container:hover, .vid-list-container:focus {
       overflow-y: auto;
     }


    div#vid-list-live {  
      margin:0;
      margin-left: 15px;
      padding:0;
      background: #fff;
   }

    div#vid-list-live div {
      list-style: none;
    }

    div#vid-list-live div a {
      text-decoration: none;
      background-color: #fff;
    }

    div#vid-list-live div:hover {
      background-color: #F0F0F0;
    }


    .active-vid { 
      background:#7A7A7A;
    }

        #vid-list-live .date {
            border-top: 1px solid #7A7A7A;
            border-bottom: 1px solid #7A7A7A;
			color: #000;
			font-size: 16px;
            text-indent: 5px;
		}
		#vid-list-live .desc {
			color: #777;
			font-size: 13px;
            text-indent: 15px;
		}



/** Sermons **/
.sermons {
  			margin-left: 0;
  			padding: 0;
  			background: #fff;
  			font-family: Arial, Helvetica, sans-serif;
            margin-bottom: 60px;
  		}


		.vid-container iframe,
		.vid-container object,
		.vid-container embed {
            margin-bottom: 10px;
		}

		/*  VIDEOS PLAYLIST 
 		############################### */
		.vid-list-container {       
			overflow: hidden;
            padding: 5px;
            top: 0;
            min-width: 250px;
            display: flex;
		} 


    .vid-list-container:hover, .vid-list-container:focus {
       overflow-y: auto;
     }


    div#vid-list {  
      margin:0;
      margin-left: 15px;
      padding:0;
      background: #fff;
   }

    div#vid-list div {
      list-style: none;
    }

    div#vid-list div a {
      text-decoration: none;
      background-color: #fff;
    }

    div#vid-list div:hover {
      background-color: #F0F0F0;
    }


    .active-vid { 
      background:#7A7A7A;
    }

        #vid-list .date {
            border-top: 1px solid #7A7A7A;
            border-bottom: 1px solid #7A7A7A;
			color: #000;
			font-size: 16px;
            text-indent: 5px;
		}
		#vid-list .desc {
			color: #777;
			font-size: 13px;
            text-indent: 15px;
		}



/** Sermon Live **/
#vid-list-live div {
      list-style: none;
    }

    ul#vid-list-live div a {
      text-decoration: none;
      background-color: #fff;
      height:70px;
      display:block;
      padding:10px;
    }

    ul#vid-list-live div a:hover {
      background-color:#F0F0F0;
    }

    .active-vid { 
      background:#7A7A7A;
    }

        #vid-list-live .date {
			color: #000;
			font-size: 15px;
		}
		#vid-list-live .desc {
			color: #777;
			font-size: 13px;
            maring-left: 15px;
		}


/** Sermons Live **/